.container {
    height: 7vh;
    width: 70vw;
    background:#ffffcc;
    margin: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
    border: solid #8080804d 1px;
    border-radius: 5px;
    justify-content: space-between;
}
.progress{
    font: 600 15px/1.5 Helvetica, Verdana, sans-serif; 
    color: grey;
    margin-right: 20px;
}
.concepts {
    font: 600 15px/1.5 Helvetica, Verdana, sans-serif; 
    color: grey;
    margin-right: 10px;
}
@media only screen and (max-width: 400px) {
    .container {
        font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
    }
  }