.level-two-container{
    display: flex;
    align-items: center;
    padding-left: 40px;
    cursor: pointer;
    height: 8vh;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
   
  li {
    font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
    padding: 5px;
  }
      
  li a {
    text-decoration: none;
    color: #000;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-fo 0.3s ease;
  }
   
  li a:hover {
    font-size: 30px;
    background:white;
  }
  .bullet-image{
      width: 30px;
      height: 30px;
      margin-right: 10px;
  }
  .transition-div{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: opacity 1s ease-out;
  }
  @media only screen and (max-width: 400px) {
    li {
        font: 200 10px/1.5 Helvetica, Verdana, sans-serif;
    }
  }