.container {
    height: 10vh;
    width: 70vw;
    background:#ffffcc;
    margin: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    font: 200 25px/1.5 Helvetica, Verdana, sans-serif;
    border: solid #8080804d 1px;
    border-radius: 5px;
}
@media only screen and (max-width: 400px) {
    .container {
        font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
    }
  }